# Dictionary
* Dictionary is a key value pair
* key data type string , int , float
* value data type string , int ,float , dict , list

In [1]:
employee = {"name":"Danial","age":22,"salary":50000.0}
employee

{'name': 'Danial', 'age': 22, 'salary': 50000.0}

In [2]:
employee["name"]

'Danial'

In [3]:
employee["age"]

22

In [4]:
employee1 = ["Danial", 22, 50000.0]

In [5]:
employee

{'name': 'Danial', 'age': 22, 'salary': 50000.0}

In [8]:
#Membership operator
"age" in employee

True

In [10]:
employee["age"] = 24

In [11]:
employee

{'name': 'Danial', 'age': 24, 'salary': 50000.0}

In [12]:
"gender" in employee

False

In [14]:
employee["gender"] = "Male"

In [15]:
employee

{'name': 'Danial', 'age': 24, 'salary': 50000.0, 'gender': 'Male'}

In [16]:
employee.pop('age')
employee

{'name': 'Danial', 'salary': 50000.0, 'gender': 'Male'}

In [19]:
fruits = ["Banana","Apple","Mango","Apple","Mango","Banana","Apple","Mango"]

In [20]:
fruits

['Banana', 'Apple', 'Mango', 'Apple', 'Mango', 'Banana', 'Apple', 'Mango']

In [25]:
frq = {"Banana":0}
for i in fruits:
    if i == "Banana":
        frq["Banana"] += 1

In [26]:
frq

{'Banana': 2}

In [29]:
frq_table = {}
for i in fruits:
    if i in frq_table:
        frq_table[i] += 1
    else:
        frq_table[i] = 1

In [30]:
frq_table

{'Banana': 2, 'Apple': 3, 'Mango': 3}